# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Avni Kothari
  email = avni@8thlight.com
[alias]
co = checkout
ci = commit
di = diff
st = status
br = branch



[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
