# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Avni Kothari
  email = avnikothari@Avnis-MacBook-Air.local
[alias]
co = checkout
ci = commit
di = diff
st = status
br = branch



